
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
cover/
songs/
profilePic/
/vendor/
assets/
###< symfony/framework-bundle ###
