<header class="container">
  <nav class="flexing flex-justify-between">
    <img class="nav-logo" src="assets/lightbluelogo.png" alt="#">
    <div class="user-interactable flexing flex-justify-between">
      <h3>{{userName}}</h3>
    <div class="nav-profile-pic menu-container" title="Menu">
      <img src="{{picPath}}" alt="#">
    </div>
  </div>
</header>
</nav>