<ul class="menu form-hider">
<li>
  <a href="/profile"><i class="fa-solid fa-user"></i>Profile</a>
</li>
<li>
  <a href="/update"><i class="fa-solid fa-wrench"></i>Update</a>
</li>
<li>
  <a href="/favourites"><i class="fa-solid fa-star"></i>Favourites</a>
</li>
<li>
<button class="logout-btn"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></button>
</li>
</ul>